<form class="ui stacked segment form" action="/dashboard/addStation" method="POST"
      style="background-color: #C9E5F0; border: 3px solid white;">
  <div class="field">
    <p><strong>Click on the map above to find the latitude and longitude for your Station</strong></p>
    <label>Station Name</label>
    <input placeholder="Station name" type="text" name="name">
    <label>Latitude</label>
    <input placeholder="Latitude" type="number" name="lat" min="-90" max="90" step=".000001" id="lat">
    <label>Longitude</label>
    <input placeholder="Longitude" type="number" name="lng" min="-180" max="180" step=".000001" id="lng">
  </div>
  <button id="submitButton" class="tiny ui blue submit animated button" onclick="addMarker(document.getElementById('lat').value,document.getElementById('lng').value)">
    <div class="visible content">Add Station</div>
    <div class="hidden content">Are you sure?</div>
  </button>
</form>