<section class="ui segment" style="border: 3px solid #043F8C; border-radius: 10px; background-color: #C9E5F0;">
  <h2 class="ui header">
    Weather Information
  </h2>
{{#each stations}}
    {{> dashboardSummary}}
    <a href="/station/{{id}}">
      <div id="openButton" class="tiny green ui animated button" tabindex="0">
        <div class="visible content">Open Readings</div>
        <div class="hidden content">Are you sure?</div>
      </div>
    </a>
    <a href="/dashboard/deletestation/{{id}}">
      <div id="deleteButton" class="tiny red ui animated button" tabindex="0">
        <div class="visible content">Delete Station</div>
        <div class="hidden content">Are you sure?</div>
      </div>
    </a>
{{/each}}
</section>