<nav class="ui menu" style="border: 3px solid #043F8C; border-radius: 10px; background-color: #C9E5F0;">
  <header class="ui header item"><img id="menuImage" class="ui image" src="../images/menu.png"></header>
  <div class="right menu">
    <a id="userDetails" class="item" href="/userDetails"><img id="menuItem" class="ui image"
                                                          src="../images/MemberText.png"></a>
    <a id="dashboard" class="item" href="/dashboard"><img id="menuItem" class="ui image"
                                                          src="../images/DashBoardText.png"></a>
    <a id="about" class="item" href="/about"><img id="menuItem" class="ui image"
                                                  src="../images/AboutText.png"></a>
    <a id="logout" class="item" href="/logout"><img id="menuItem" class="ui image"
                                                    src="../images/LogoutText.png"></a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>
