<nav class="ui menu" style="border: 3px solid #043F8C; border-radius: 10px; background-color: #C9E5F0;">
  <header class="ui header item"><a href="/"><img id="menuImage" class="ui image" src="../images/menu.png"></a>
  </header>
  <div class="right menu">
    <a id="signup" class="item" href="/signup"><img id="menuItem" class="ui image"
                                                    src="../images/SignupText.png"></a>
    <a id="login" class="item" href="/login"><img id="menuItem" class="ui image" src="../images/LoginText.png"></a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>