{{> menu id="about"}}

<section class="ui center aligned middle aligned segment"
         style="border: 3px solid #043F8C; background-image: linear-gradient(#84B1D9,white);">
  <div class="ui segment" style="border: 3px solid #043F8C;">
    <h3>Step 1 - Create a new Weather Station</h3>
    <p>Create a station name <i class="orange user plus icon"></i></p>
    <p>Enter the latitude and longitude details <i class="compass outline icon"></i></p>
  </div>
  <div class="ui segment" style="border: 3px solid #043F8C;">
    <h3>Step 2 - Keep a log on the Stations weather details!</h3>
    <p>Log time and date <i class="calendar icon"></i></p>
    <p>Keep track of when its sunny, raining, snow or thunder <i class="snowflake outline icon"></i></p>
    <p>Enter the temperature to see details in both celsius and fahrenheit <i class="temperature high icon"></i></i>
    </p>
    <p>Track key wind speeds and direction, wind chill and trends <i class="wind icon"></i></p>
    <p>Log pressure stats and see changes over time <i class="yellow sun outline icon"></i></p>
    <p></p>
  </div>
</section>