{{> menu id="dashboard"}}

<div class="ui icon message">
  <i class="ui red exclamation circle icon"></i>
  <div class="content">
    <div class="header">
      Station not added!
    </div>
    <p>{{message}}</p>
  </div>
</div>

{{> listStations}}

<div id="mapid"></div>
<div class="ui two column middle aligned grid basic segment">
  <div class="column">
    {{> addStation}}
  </div>
  <div class="column">
    <img class="ui image" id="loginImage" src="../images/globe.jpg">
  </div>
</div>

<script src="../maps.js"></script>