{{> welcomemenu }}

<section class="ui center aligned middle aligned segment"
         style="border: 3px solid #043F8C; background-image: linear-gradient(#84B1D9,white);">
  <section class="ui segment" style="border: 3px solid #043F8C;">
    <img src="../images/title.png" style="width: 70%">
  </section>
  <div class="ui segment" style="border: 3px solid #043F8C;">
    <div class="ui two column very relaxed grid">
      <div class="column">
        <h3>Signup and get tracking!</h3>
        <p>Create an account today and start logging key weather stats <i class="orange user plus icon"></i></p>
        <p>This app will keep a record of any locations of interest <i class="compass outline icon"></i></p>
      </div>
      <div class="column">
        <h3>Login and view history!</h3>
        <p>If you have registered already please login and view your saved data <i
          class="sign in alternate icon"></i></p>
        <p>All previously logged weather stations and stats will be available <i
          class="yellow sun outline icon"></i></p>
        <p></p>
      </div>
    </div>
    <div class="ui vertical divider">
      OR
    </div>
  </div>
  <img class="ui image" id="startImage" src="../images/cloud.jpg">
</section>