{{> welcomemenu id="signup"}}

<div class="ui icon message">
  <i class="ui red exclamation circle icon"></i>
  <div class="content">
    <div class="header">
      Signup failed!
    </div>
    <p>{{message}}</p>
  </div>
</div>
<div class="ui two column grid basic middle aligned segment">
  <div class="column">
    <form class="ui stacked segment form" action="/register" method="POST"
          style="border: 3px solid #043F8C; background-image: linear-gradient(#84B1D9,white);">
      <h3 class="ui header">Register</h3>
      <div class="two fields">
        <div class="field">
          <label>First Name</label>
          <input placeholder="First Name" type="text" name="firstname">
        </div>
        <div class="field">
          <label>Last Name</label>
          <input placeholder="Last Name" type="text" name="lastname">
        </div>
      </div>
      <div class="field">
        <label>Email</label>
        <input placeholder="Email" type="text" name="email">
      </div>
      <div class="field">
        <label>Password</label>
        <input placeholder="Password" type="password" name="password">
      </div>
      <button class="ui blue submit button">Submit</button>
    </form>
    <div class="ui bottom attached warning message">
      <i class="icon help"></i>
      Already signed up? <a href="/login">Login here</a> instead.
    </div>
  </div>
  <div class="column">
    <img class="ui image" id="loginImage" src="../images/loginImage.jpg">
  </div>
</div>