{{> menu}}

<section class="ui segment" style="border: 3px solid #043F8C; border-radius: 10px; background-color: #C9E5F0;">
  <h2 class="ui header">
    Weather Information
  </h2>
  {{> stationSummary}}
  {{> listReadings}}
  {{> addReading}}
</section>